

/*
COLORS:
*/

$color-primary:#0041c4;
$color-primary-light:#1e60e1;
$color-primary-dark: #0b3280;
$color-highlight:#ff914d;
$color-white: #fff;
$color-gray: #505369;
$color-gray-dark:#24264b;
$color-gray-light: #717591;
$color-blue: #a6b2c7;
$color-blue-light: #eff6ff;

// GRID
$grid-width: 120rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;