.section-about,
.section-products,
.section-team,
.section-experience {
    position: relative;
    padding: 6rem 15rem;
    z-index: 1;
    @include respond(tab-land) {
        padding: 6rem 15rem;
    }
    @include respond(tab-port) {
        padding: 6rem 10rem;
    }
    @include respond(phone) {
        padding: 4rem 4rem;
    }

    .row {
        position: relative;
    }
    
    // .btn {
    //     position: absolute;
    //     right: 50%;
    //     transform: translateX(50%);
    //     margin-top: 1.6rem;
    // }
}

.section-about {
    padding-bottom: 10rem;
}

.section-products {
    background-color: $color-blue-light;
}

.section-team {
    padding-top: 15rem;
}

.svg-background {
    position: absolute;
    width: 100%;
    margin: 0;
    fill: $color-blue-light;
    color: $color-blue-light;
    left: 0;
    right: 0;
    z-index: -1;
}

.svg-top {
    bottom: 0;
    height: 15rem;
}

.svg-btm {
    bottom: -10rem;
    height: 10rem;
}



// .decor-footer {
//     width: 20rem;
//     position: absolute;
//     bottom: -1rem;
//     right: 2rem;
//     transform-origin: bottom right;
//     transition: all 0.5s ease-out;
//     @include respond(tab-land){bottom: -15rem;}
// }


